/*css選擇器*/
/* 標籤名稱選擇器 */
body{background-color: #cccccc;text-align: center}
/*class選擇器*/
.a{color:red;font-weight:bold;font-size:24px}
.b{color:#008899;border:1px dashed blue;font-weight:bold;font-size:36px;padding:10px;margin-left:100px;margin-top:100px}
.ccc{color: red}
.underline{text-decoration: underline}